node_modules
**/node_modules
**/bin
**/obj
.git
.github
*.md
deploy.log
deploy-b2.log
testdata
!testdata/colas
!testdata/colas/**
!testdata/layout-annotations
!testdata/layout-annotations/**
!testdata/layout-models
!testdata/layout-models/**
public/samples
scripts/_ttb_*
**/.next
**/coverage
